<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Welcome to Express Pizza</h1>

<h2>Specialty Pizzas</h2>

<section>
<ul>
        <li><a href="/speciality?name=Supreme&price=14">Supreme Pizza</a></li>
        <li><a href="/speciality?name=Veggie&price=20">Veggie Pizza</a></li>
        <li><a href="/speciality?name=Cheese&price=30">Cheese Pizza</a></li>
         
</ul>

<a href="/review">Click here to leave a review</a>
<a href="/review-thanks">Thank you review</a>

</section>


</body>
</html>

