<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Leave a Review</h1>

<form>
<label for="fname"> first name:</label>
<input type="text" id="fname" name="fname">

<div>
 <h2>Comment</h2>   
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
</textarea>
</div>

<fieldset class="rating">
    <legend>Please rate:</legend>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>

<input type="submit" value="Submit">

 <a href="/">Never Mind</a>
 
</form>



    
</body>
</html>