<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class = "countainer">
<h1>Specialty Pizza: {{name}}</h1> 
<p><span>Name: </span>{{name}}</p>
<p><span>Price: </span>{{price}}</p> 

<p>
    <a href="/">Home</a>

</p>
</body>
</html>